apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  namespace: shopfast
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
      - name: payment
        image: chandramohanupadhyay/payment:v1 
        ports:
        - containerPort: 6000
        env:
        - name: FLASK_ENV
          value: "production"
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"
        readinessProbe:
          httpGet:
            path: /health
            port: 6000
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 6000
          initialDelaySeconds: 30
          periodSeconds: 10